In [1]:
import pandas as pd
import os
import glob
import pyodbc

In [4]:
def get_path():
    
    pathname=os.getcwd()
    path=glob.glob(os.path.join(pathname,'*.csv'))
    return path
get_path()

['C:\\Users\\j\\Desktop\\Project\\data.csv',
 'C:\\Users\\j\\Desktop\\Project\\employees.csv',
 'C:\\Users\\j\\Desktop\\Project\\new.csv',
 'C:\\Users\\j\\Desktop\\Project\\revenue.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore1.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore2.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore3.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore4.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore5.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore6.csv',
 'C:\\Users\\j\\Desktop\\Project\\Superstore7.csv']

In [23]:
def read_csv_file():
    file=pd.read_csv('C:\\Users\\j\\Desktop\\Project\\Superstore5.csv',encoding='windows-1252')
    return file

In [24]:
read_csv_file()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,8050,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,CM-12715,Craig Molinari,Corporate,United States,Philadelphia,...,19140,East,OFF-BI-10003274,Office Supplies,Binders,"Avery Durable Slant Ring Binders, No Labels",5.970,5,0.7,-4.5770
1,8051,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,CM-12715,Craig Molinari,Corporate,United States,Philadelphia,...,19140,East,FUR-FU-10001095,Furniture,Furnishings,DAX Black Cherry Wood-Tone Poster Frame,21.184,1,0.2,4.7664
2,8052,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,CM-12715,Craig Molinari,Corporate,United States,Philadelphia,...,19140,East,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",41.376,6,0.2,3.1032
3,8053,CA-2014-109904,7/14/2014,7/17/2014,Second Class,BF-10975,Barbara Fisher,Corporate,United States,New York City,...,10009,East,OFF-AR-10004999,Office Supplies,Art,Newell 315,17.940,3,0.0,4.4850
4,8054,CA-2017-152205,9/28/2017,10/5/2017,Standard Class,SF-20965,Sylvia Foulston,Corporate,United States,Philadelphia,...,19134,East,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,2.655,1,0.7,-1.8585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,8296,CA-2016-166380,5/30/2016,6/3/2016,Standard Class,EB-13750,Edward Becker,Corporate,United States,Arlington,...,22204,South,OFF-EN-10002600,Office Supplies,Envelopes,"Redi-Strip #10 Envelopes, 4 1/8 x 9 1/2",26.550,9,0.0,12.7440
247,8297,CA-2016-166380,5/30/2016,6/3/2016,Standard Class,EB-13750,Edward Becker,Corporate,United States,Arlington,...,22204,South,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive,111.980,2,0.0,26.8752
248,8298,US-2015-158911,7/5/2015,7/11/2015,Standard Class,RS-19765,Roland Schwarz,Corporate,United States,Charlotte,...,28205,South,FUR-FU-10003829,Furniture,Furnishings,Stackable Trays,4.928,2,0.2,0.7392
249,8299,US-2015-158911,7/5/2015,7/11/2015,Standard Class,RS-19765,Roland Schwarz,Corporate,United States,Charlotte,...,28205,South,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
250,8300,US-2014-103338,3/11/2014,3/15/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Roseville,...,95661,West,OFF-AR-10001770,Office Supplies,Art,Economy #2 Pencils,7.980,3,0.0,2.0748

In [25]:
file.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

# Check null values

In [26]:
file.isnull()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
247,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
248,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
249,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
250,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# check Duplicates in columns

In [33]:
new_duplicate =file[file.duplicated()]

In [34]:
new_duplicate

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [40]:
file.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

# remove duplicated element

In [38]:
file.drop_duplicates(keep='first',inplace=True)

In [39]:
file

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,8050,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,CM-12715,Craig Molinari,Corporate,United States,Philadelphia,...,19140,East,OFF-BI-10003274,Office Supplies,Binders,"Avery Durable Slant Ring Binders, No Labels",5.970,5,0.7,-4.5770
1,8051,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,CM-12715,Craig Molinari,Corporate,United States,Philadelphia,...,19140,East,FUR-FU-10001095,Furniture,Furnishings,DAX Black Cherry Wood-Tone Poster Frame,21.184,1,0.2,4.7664
2,8052,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,CM-12715,Craig Molinari,Corporate,United States,Philadelphia,...,19140,East,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",41.376,6,0.2,3.1032
3,8053,CA-2014-109904,7/14/2014,7/17/2014,Second Class,BF-10975,Barbara Fisher,Corporate,United States,New York City,...,10009,East,OFF-AR-10004999,Office Supplies,Art,Newell 315,17.940,3,0.0,4.4850
4,8054,CA-2017-152205,9/28/2017,10/5/2017,Standard Class,SF-20965,Sylvia Foulston,Corporate,United States,Philadelphia,...,19134,East,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,2.655,1,0.7,-1.8585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,8296,CA-2016-166380,5/30/2016,6/3/2016,Standard Class,EB-13750,Edward Becker,Corporate,United States,Arlington,...,22204,South,OFF-EN-10002600,Office Supplies,Envelopes,"Redi-Strip #10 Envelopes, 4 1/8 x 9 1/2",26.550,9,0.0,12.7440
247,8297,CA-2016-166380,5/30/2016,6/3/2016,Standard Class,EB-13750,Edward Becker,Corporate,United States,Arlington,...,22204,South,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive,111.980,2,0.0,26.8752
248,8298,US-2015-158911,7/5/2015,7/11/2015,Standard Class,RS-19765,Roland Schwarz,Corporate,United States,Charlotte,...,28205,South,FUR-FU-10003829,Furniture,Furnishings,Stackable Trays,4.928,2,0.2,0.7392
249,8299,US-2015-158911,7/5/2015,7/11/2015,Standard Class,RS-19765,Roland Schwarz,Corporate,United States,Charlotte,...,28205,South,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
250,8300,US-2014-103338,3/11/2014,3/15/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Roseville,...,95661,West,OFF-AR-10001770,Office Supplies,Art,Economy #2 Pencils,7.980,3,0.0,2.0748

# seprated some column and stored in other dataframe

In [92]:
customer=file[['Customer ID', 'Customer Name']]

In [94]:
customer

    Customer ID    Customer Name
0      CM-12715   Craig Molinari
1      CM-12715   Craig Molinari
2      CM-12715   Craig Molinari
3      BF-10975   Barbara Fisher
4      SF-20965  Sylvia Foulston
..          ...              ...
246    EB-13750    Edward Becker
247    EB-13750    Edward Becker
248    RS-19765   Roland Schwarz
249    RS-19765   Roland Schwarz
250    RB-19435  Richard Bierner

[251 rows x 2 columns]

# Filnull value or replace NAN value

In [45]:
customer['Customer ID'].fillna('AB-0000',inplace=True)

C:\Users\j\AppData\Local\Temp\ipykernel_8088\1417735282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer['Customer ID'].fillna('AB-0000',inplace=True)

In [93]:
customer.columns

Index(['Customer ID', 'Customer Name'], dtype='object')

# add some column in dataframe

In [47]:
file.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [49]:
product=file[['Product ID', 'Category', 'Sub-Category','Product Name']]

In [50]:
product

,Product ID,Category,Sub-Category,Product Name
0,OFF-BI-10003274,Office Supplies,Binders,"Avery Durable Slant Ring Binders, No Labels"
1,FUR-FU-10001095,Furniture,Furnishings,DAX Black Cherry Wood-Tone Poster Frame
2,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length"
3,OFF-AR-10004999,Office Supplies,Art,Newell 315
4,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs
...,...,...,...,...
246,OFF-EN-10002600,Office Supplies,Envelopes,"Redi-Strip #10 Envelopes, 4 1/8 x 9 1/2"
247,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive
248,FUR-FU-10003829,Furniture,Furnishings,Stackable Trays
249,OFF-LA-10003223,Office Supplies,Labels,Avery 508
250,OFF-AR-10001770,Office Supplies,Art,Economy #2 Pencils

In [52]:

order_df = file[['Order ID','Order Date','Ship Date','Ship Mode','Sales','Quantity','Discount','Profit','Product ID','Customer ID','Postal Code']]
order_df = order_df.drop_duplicates(keep = 'first')

In [56]:

order_df = order_df.reset_index()
order_df.drop(['index'],axis=1,inplace=True)

In [57]:
order_df

,level_0,Order ID,Order Date,Ship Date,Ship Mode,Sales,Quantity,Discount,Profit,Product ID,Customer ID,Postal Code
0,0,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,5.970,5,0.7,-4.5770,OFF-BI-10003274,CM-12715,19140
1,1,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,21.184,1,0.2,4.7664,FUR-FU-10001095,CM-12715,19140
2,2,CA-2014-144974,9/26/2014,9/30/2014,Standard Class,41.376,6,0.2,3.1032,OFF-AP-10001492,CM-12715,19140
3,3,CA-2014-109904,7/14/2014,7/17/2014,Second Class,17.940,3,0.0,4.4850,OFF-AR-10004999,BF-10975,10009
4,4,CA-2017-152205,9/28/2017,10/5/2017,Standard Class,2.655,1,0.7,-1.8585,OFF-BI-10004094,SF-20965,19134
...,...,...,...,...,...,...,...,...,...,...,...,...
246,246,CA-2016-166380,5/30/2016,6/3/2016,Standard Class,26.550,9,0.0,12.7440,OFF-EN-10002600,EB-13750,22204
247,247,CA-2016-166380,5/30/2016,6/3/2016,Standard Class,111.980,2,0.0,26.8752,TEC-AC-10000109,EB-13750,22204
248,248,US-2015-158911,7/5/2015,7/11/2015,Standard Class,4.928,2,0.2,0.7392,FUR-FU-10003829,RS-19765,28205
249,249,US-2015-158911,7/5/2015,7/11/2015,Standard Class,11.784,3,0.2,4.2717,OFF-LA-10003223,RS-19765,28205
250,250,US-2014-103338,3/11/2014,3/15/2014,Standard Class,7.980,3,0.0,2.0748,OFF-AR-10001770,RB-19435,95661

In [62]:
location_df = file[['Country','City','State','Postal Code','Region']]
#location_df = location_df.drop_duplicates(keep = 'first')

# change columns  name

In [97]:
customer_col=customer.rename(columns={'Customer ID':'Customer_ID', 'Customer Name': 'Customer_Name'})

In [100]:
customer_col

    Customer_ID    Customer_Name
0      CM-12715   Craig Molinari
1      CM-12715   Craig Molinari
2      CM-12715   Craig Molinari
3      BF-10975   Barbara Fisher
4      SF-20965  Sylvia Foulston
..          ...              ...
246    EB-13750    Edward Becker
247    EB-13750    Edward Becker
248    RS-19765   Roland Schwarz
249    RS-19765   Roland Schwarz
250    RB-19435  Richard Bierner

[251 rows x 2 columns]

In [105]:
product=product.rename(columns={'Product ID':'Product_ID', 'Category':'Category', 'Sub-Category': 'Sub_Category','Product Name':'Product_Name'})

In [106]:
product

,Product_ID,Category,Sub_Category,Product_Name
0,OFF-BI-10003274,Office Supplies,Binders,"Avery Durable Slant Ring Binders, No Labels"
1,FUR-FU-10001095,Furniture,Furnishings,DAX Black Cherry Wood-Tone Poster Frame
2,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length"
3,OFF-AR-10004999,Office Supplies,Art,Newell 315
4,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs
...,...,...,...,...
246,OFF-EN-10002600,Office Supplies,Envelopes,"Redi-Strip #10 Envelopes, 4 1/8 x 9 1/2"
247,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive
248,FUR-FU-10003829,Furniture,Furnishings,Stackable Trays
249,OFF-LA-10003223,Office Supplies,Labels,Avery 508
250,OFF-AR-10001770,Office Supplies,Art,Economy #2 Pencils

In [113]:
order_df=order_df.rename(columns={'Order ID':'Order_id', 'Order Date':'Order_date', 'Ship Date':'Ship_Date', 'Ship Mode':'Ship_Mode', 'Product ID':'Product_ID', 'Customer ID':'Customer_ID'})

In [143]:
order_df.columns

Index(['level_0', 'Order_id', 'Order_date', 'Ship_Date', 'Ship_Mode', 'Sales',
       'Quantity', 'Discount', 'Profit', 'Product_ID', 'Customer_ID',
       'Postal_Code'],
      dtype='object')

In [141]:
order_df=order_df.rename(columns={'Postal Code':'Postal_Code'})

In [185]:
order_df['Sales']

0        5.970
1       21.184
2       41.376
3       17.940
4        2.655
        ...
246     26.550
247    111.980
248      4.928
249     11.784
250      7.980
Name: Sales, Length: 251, dtype: float64

In [117]:
location_df=location_df .rename(columns={'Postal Code':'Postal_Code'})

In [174]:
location_df=location_df .rename(columns={'State':'States'})

In [175]:
location_df

           Country           City          States  Postal_Code Region
0    United States   Philadelphia    Pennsylvania        19140   East
1    United States   Philadelphia    Pennsylvania        19140   East
2    United States   Philadelphia    Pennsylvania        19140   East
3    United States  New York City        New York        10009   East
4    United States   Philadelphia    Pennsylvania        19134   East
..             ...            ...             ...          ...    ...
246  United States      Arlington        Virginia        22204  South
247  United States      Arlington        Virginia        22204  South
248  United States      Charlotte  North Carolina        28205  South
249  United States      Charlotte  North Carolina        28205  South
250  United States      Roseville      California        95661   West

[251 rows x 5 columns]

# connect with database

In [65]:
import pyodbc as db

In [157]:
con=db.connect('DRIVER={SQL Server};SERVER=DESKTOP-3407HKD\SQLEXPRESS;DATABASE=Data_analyst')

In [158]:
crsr=con.cursor()

In [154]:
for i ,row in customer_col.iterrows():
    #print(i,row)
    con.execute("Insert into Customer_details(Customer_ID,Customer_Name) values(?,?)",row.Customer_ID, row.Customer_Name)
    con.commit()

NameError: name 'Sales' is not defined

# also replace column name if column name as like customer id then it cannot load into database .

In [164]:
for i ,row in customer_col.iterrows():
    #print(i,row)
    con.execute("Insert into Customer1(Customer_Name,Customer_ID) values(?,?)", row.Customer_Name,row.Customer_ID)
    con.commit()

In [168]:
for i,row in product.iterrows():
    #print(row)
    con.execute("insert into Product(Product_ID,Category,Sub_Category,Product_Name) values(?,?,?,?)",row.Product_ID,row.Category,row.Sub_Category,row.Product_Name)
    con.commit()

In [186]:
for i,row in order_df.iterrows():
    con.execute("insert into Order_data1(Order_id,Order_date,Ship_Date,Ship_Mode,Sales,Quantity,Discount,Profit,Product_ID,Customer_ID,Postal_Code)values(?,?,?,?,?,?,?,?,?,?,?)",row.Order_id,row.Order_date,row.Ship_Date,row.Ship_Mode,row.Sales,row.Quantity,row.Discount,row.Profit,row.Product_ID,row.Customer_ID,row.Postal_Code)
    con.commit()

DataError: ('22003', '[22003] [Microsoft][ODBC SQL Server Driver][SQL Server]Arithmetic overflow error converting float to data type numeric. (8115) (SQLExecDirectW); [22003] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)')

In [179]:
for i,row in location_df.iterrows():
    con.execute("insert into locatations(Country,City,States,Postal_Code,Region) values(?,?,?,?,?)",row.Country,row.City,row.States,row.Postal_Code,row.Region)
    con.commit()