# Data analysis read csv file and stored into database

In [2]:
import pandas as pd
import numpy
import glob
import pyodbc
import os

In [115]:
pathname=os.getcwd()
pathname

'C:\\Users\\j\\Desktop\\Project'

In [3]:
csv_files=glob.glob(os.path.join(pathname,'*.csv'))
csv_files

NameError: name 'pathname' is not defined

In [10]:
file.fillna('any')

,Name,Education,Passout year,Email Id,Contact number,Experience letter Required or not If Yes connect with Hanmant sir,fess paid
0,any,any,any,any,any,any,any
1,Vinayak Jadhav,B.Sc (Agriculture),2019,jvinayak2018@gmail.com,9922392435.0,Yes,any
2,Akanksha Singh,B.E(E&TC),2017,akankshasingh36@gmail.com,8830343632.0,yes,any
3,Bhagyashree Jadhao,MSc (Comp.Sci),2016,jadhaobhagyashri@gmail.com,8552943673.0,yes,any
4,Shilpa B Kusumale,BCA,2020,shilpakusumale20@gmail.com,7620410714.0,yes,any
5,Viplav Meshram,MBA,2016,meshramviplav@gmail.com,8407987479.0,No,any
6,kajal Bhole,B. Com,2020,kajalbhole29@gmail.com,7028277721.0,yes,any
7,Pawan Waghmare,B.Sc (C S),2015,pawanwaghmare369@gmail.com,7774878003.0,No,any
8,Trupti Punekar,B.com,2019,truptipunekar98@gmail.com,7507419627.0,yes,any
9,Vishal Chavan,M.com,2015,chavanvishal789@gmail.com,9689213902.0,yes,any
10,Mahesh Bhadane,M.Sc(Electronics),2020,maheshr.bhadane198@gmail.com,9172508677.0,Yes,any
11,Akshay Sarode,B.Sc,2021,sarodeakshay36@gmail.com,9834803028.0,Yes,any
12,Aparna Kanthak,M.Sc(Mathematics),2016,appu.kanthak11@gmail.com,9405373070.0,Yes,any
13,Anjali Panchariya,B.com,pursuing,anjalipanchariya2908@gmail.com,8087877844.0,no,any
14,Nachiket Devkar,MBA,2016,ndevkar4138@gmail.com,8888566587.0,no\n,any
15,Rupali gaiykwad,any,any,any,any,any,any
16,Prajakta D Kedar,M.Sc (Agricultural Biotechnology),2015,prajakta.kedar31@gmail.com,9923800615.0,Yes (after 3 months),any

In [ ]:
file=pd.read_csv("C:\\Users\\j\\Desktop\\Project\\data.csv")
file

In [7]:
file.columns

Index(['Name ', 'Education ', 'Passout year', 'Email Id', 'Contact number',
       'Experience letter Required or not If Yes connect with Hanmant sir',
       'fess paid'],
      dtype='object')

In [8]:
sub_data=file[['Name ', 'Education ', 'Passout year', 'Email Id', 'Contact number',
       'fess paid']]

In [ ]:
sub_data.dropna(how='all',inplace=True)

In [ ]:
sub_data

In [24]:
sub_data.dropna(how='all')

,Name,Education,Passout year,Email Id,Contact number,fess paid
1,Vinayak Jadhav,B.Sc (Agriculture),2019,jvinayak2018@gmail.com,9.922392e+09,NaN
2,Akanksha Singh,B.E(E&TC),2017,akankshasingh36@gmail.com,8.830344e+09,NaN
3,Bhagyashree Jadhao,MSc (Comp.Sci),2016,jadhaobhagyashri@gmail.com,8.552944e+09,NaN
4,Shilpa B Kusumale,BCA,2020,shilpakusumale20@gmail.com,7.620411e+09,NaN
5,Viplav Meshram,MBA,2016,meshramviplav@gmail.com,8.407987e+09,NaN
6,kajal Bhole,B. Com,2020,kajalbhole29@gmail.com,7.028278e+09,NaN
7,Pawan Waghmare,B.Sc (C S),2015,pawanwaghmare369@gmail.com,7.774878e+09,NaN
8,Trupti Punekar,B.com,2019,truptipunekar98@gmail.com,7.507420e+09,NaN
9,Vishal Chavan,M.com,2015,chavanvishal789@gmail.com,9.689214e+09,NaN
10,Mahesh Bhadane,M.Sc(Electronics),2020,maheshr.bhadane198@gmail.com,9.172509e+09,NaN
11,Akshay Sarode,B.Sc,2021,sarodeakshay36@gmail.com,9.834803e+09,NaN
12,Aparna Kanthak,M.Sc(Mathematics),2016,appu.kanthak11@gmail.com,9.405373e+09,NaN
13,Anjali Panchariya,B.com,pursuing,anjalipanchariya2908@gmail.com,8.087878e+09,NaN
14,Nachiket Devkar,MBA,2016,ndevkar4138@gmail.com,8.888567e+09,NaN
15,Rupali gaiykwad,NaN,NaN,NaN,NaN,NaN
16,Prajakta D Kedar,M.Sc (Agricultural Biotechnology),2015,prajakta.kedar31@gmail.com,9.923801e+09,NaN

In [ ]:
del sub_data['fess paid']

In [37]:
sub_data.dropna(inplace=True)

C:\Users\j\AppData\Local\Temp\ipykernel_9728\129800209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data.dropna(inplace=True)

In [ ]:
sub_data

In [46]:
sub_data['Contact number']=sub_data['Contact number'].astype('float')

C:\Users\j\AppData\Local\Temp\ipykernel_9728\302771639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data['Contact number']=sub_data['Contact number'].astype('float')

In [13]:
sub_data.columns

Index(['Name ', 'Education ', 'Passout year', 'Email Id', 'Contact number'], dtype='object')

In [14]:
del sub_data['Contact number']

In [26]:
sub_data=sub_data.rename(columns={'Name':'E_Name','Education':'Edu_D', 'Passout_Year':'Passout_year', 'Email_id':'Email_Id'})

In [27]:
sub_data.columns

Index(['Name ', 'Education ', 'Passout_year', 'Email_Id'], dtype='object')

In [52]:
sub_column=sub_data[['Name ', 'Education ', 'Passout year', 'Email Id']]

In [19]:
sub_data=sub_data.rename(columns={'Name':'SName', 'Education':'Education', 'Passout year':'Passout_Year', 'Email Id':'Email_id'})

In [20]:
sub_data.columns

Index(['Name ', 'Education ', 'Passout_Year', 'Email_id'], dtype='object')

In [82]:
sub_column=sub_column.rename(columns={'Name':'S_Name'})

In [1]:
sub_column.columns

NameError: name 'sub_column' is not defined

In [2]:
sub_data

NameError: name 'sub_data' is not defined

In [67]:

con = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-3407HKD;DATABASE=pythondata')
cursor = con.cursor()

In [102]:
for i,row in sub_data.iterrows():
    #print(i,row)
    cursor.execute("insert into student(Name, Education, Passout_Year, Email_id)values(?,?,?,?)",row.Name,row.Education,row.Passout_Year,row.Email_id)
    cursor.commit

AttributeError: 'Series' object has no attribute 'Name'

In [ ]:
for i,row in file.iterrows():
    cur.execute("insert into tbl_customer(cust_ID,cust_Name,cust_code,cust_Number)values(?,?,?,?)",row.Customer_ID,row.Customer_Name,row.Cust_Code,row.Cust_Number)
    cur.commit()
    

connection.close()

In [120]:
file=pd.read_csv("C:\\Users\\j\\Desktop\\Project\\new.csv")
file

,DepartmentID,Name,GroupName,Unnamed: 3
0,1,Engineering,Research and Development,NaN
1,2,Tool Design,Research and Development,NaN
2,3,Sales,Sales and Marketing,NaN
3,4,Marketing,Sales and Marketing,NaN
4,5,Purchasing,Inventory Management,NaN
5,6,Research and Development,Research and Development,NaN
6,7,Production,Manufacturing,NaN
7,8,Production Control,Manufacturing,NaN
8,9,Human Resources,Executive General and Administration,NaN
9,10,Finance,Executive General and Administration,NaN
10,11,Information Services,Executive General and Administration,NaN
11,12,Document Control,Quality Assurance,NaN
12,13,Quality Assurance,Quality Assurance,NaN
13,14,Facilities and Maintenance,Executive General and Administration,NaN
14,15,Shipping and Receiving,Inventory Management,NaN
15,16,Executive,Executive General and Administration,NaN

In [121]:
file.columns

Index(['DepartmentID', 'Name', 'GroupName', 'Unnamed: 3'], dtype='object')

In [122]:
del file['Unnamed: 3']

In [129]:
file.columns

Index(['DepartmentID', 'EName', 'GroupName'], dtype='object')

In [1]:
file=file.rename(columns={'Name':'EName'})

NameError: name 'file' is not defined

In [130]:
for i,row in file.iterrows():
    print(i,row)
    cursor.execute("insert into department(DepartmentID,EName,GroupName)values(?,?,?)",row.DepartmentID, row.EName, row.GroupName)
    cursor.commit()
    

connection.close()

0 DepartmentID                           1
EName                        Engineering
GroupName       Research and Development
Name: 0, dtype: object
1 DepartmentID                           2
EName                        Tool Design
GroupName       Research and Development
Name: 1, dtype: object
2 DepartmentID                      3
EName                         Sales
GroupName       Sales and Marketing
Name: 2, dtype: object
3 DepartmentID                      4
EName                     Marketing
GroupName       Sales and Marketing
Name: 3, dtype: object
4 DepartmentID                       5
EName                     Purchasing
GroupName       Inventory Management
Name: 4, dtype: object
5 DepartmentID                           6
EName           Research and Development
GroupName       Research and Development
Name: 5, dtype: object
6 DepartmentID                7
EName              Production
GroupName       Manufacturing
Name: 6, dtype: object
7 DepartmentID                     8
EName           Production Control
GroupName            Manufacturing
Name: 7, dtype: object
8 DepartmentID                                       9
EName                                Human Resources
GroupName       Executive General and Administration
Name: 8, dtype: object

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]String or binary data would be truncated in table 'pythondata.dbo.department', column 'GroupName'. Truncated value: 'Executive General and Administ'. (2628) (SQLExecDirectW); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")